
.font-div{
    width: auto;
    height: 150px;
    background-color: rgb(37, 170, 223);
    background-image:url(../img/pattern.png);
    background-repeat:repeat-x;
}
.font-yellow{
    background-color: gold;
}
.font-table{
    border-style: none;
}
.font-th{
   background-color: rgb(41, 148, 248);
   color: white;
}
.font-td{
    background-color: rgba(41, 148, 248, 0.3)
}
